<%= render "layouts/topnav" %>
<div class="container" style='width: 1100px; height: 520px;'>
    <div id="login">
      <%= link_to "Login with Facebook", "/auth/facebook", id: "sign_in" %>
    </div>
</div>
<%= render "layouts/footer" %>