<head>
	<link rel="stylesheet" href="/assets/landing.css">
</head>

<body style="background-image:url('/assets/skyline.jpg')">
	<div class="container" style='width: 1100px; height: 520px;'>
	    <div id="login">
	    	<h1>PingIt</h1>

	      <h4><%= link_to "Login with Facebook", "/auth/facebook", id: "sign_in" %></h4>
	    </div>
	</div>
	<%= render "layouts/footer" %>
</body>