.container {
  margin: 30px auto;
  height: 10%;
  width: 1000px; 
  height: 200px;
}

#pinga-logo {
  float:left;
  margin: 30px 20px 10px 30px;
}

#login h1 {
  font-family: tahoma;
  color: #F2E9E1;
}

#login {
	text-align: center;
	font-size: 250%;
	background-color: #35393C;
  border-radius: 15px;
	margin:0 auto;
	/*margin-top: 40px;*/
	width: 500px;
	color: #F2E9E1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color:rgba(0,0,0,0.7);
}

#events_div {
    margin: 0;
    padding: 0;
    height: 150px;
    float: left;
}

#events_div h5 {
  margin-top: 35;
  font-family: georgia;
}

#events_div h6 {
  margin-top: 30;
  font-family: georgia;
}

.italic {
  font-style:italic;
}

#events_title {
  width: 200px;
  height: 150px;
  /*background-color: #111;*/
  padding: 0;
  margin: 0;
  float: left;
  display: inline-block;
  /*border: 1px solid white;*/
  text-align: right;
}

#events_slogan {
  width: 280px;
  height: 150px;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;
  vertical-align: middle;
}


#header {
  font-family: 'Neuton', serif;
  letter-spacing: 4px;
  font-size: 2.5em;
  padding-top: 25px;
  margin: 0;
}

body {
  font-family: 'Georgia';
  font-size: 1.00em;
  background: url('/assets/skyline.jpg') no-repeat center center;
  background-size: 100% auto;
  min-width: 1000px;
  overflow: hidden;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

html {
  overflow: auto;
}

a {
  color: #EFE6AB;
/*  color: black;
  text-decoration: none;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.footer {
  margin: 20px auto;
  width: 960px;
  height:180px;
  padding: 10px 20px 20px 20px;
  text-align:center;
  column-count:3;
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  background-color:#35393C;
  color: #F2E9E1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border-radius: 25px;
  background-color:rgba(0,0,0,0.7);
}

.blurb {
  text-align:center;
  font-size: 30px;
  color: #CBE86B;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#fb {
  padding-bottom: 15px;
}

.footer h1 {
  font-family: "Arial";
  margin-top: 10px;
}

#event_title {
  font-size: 150%;
}

#landing_ping_1 {
  position: fixed; 
  top: -50px; 
  left: 150px;
}

#landing_ping_2 {
  position: fixed; 
  top: -50px; 
  left: 1100px;
}

#landing_ping_3 {
  position: fixed; 
  top: -50px; 
  left: 300px;
}

#landing_ping_4 {
  position: fixed; 
  top: -50px; 
  left: 950px;
}
