<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<h2>Pingas#new new.html.erb Creating a new pinga here</h2>
<div id="map">

</div>
<div id="form">
  <%= render partial: "form" %>
</div>