<div class="map">
  <div style='width: 520px;'>
    <div id="create-pinga-map" style='width: 520px; height: 550px;'></div>
  </div>
</div>

<div class="content">
  <% if @pinga.errors.any? %>
    <p id="invalid-form-ping-coords" hidden><%= {lat: @pinga.latitude, lng: @pinga.longitude }.to_json %></p>

    <% @pinga.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>

  <% else %>
    <p id="user-coords" hidden><%= {lat: @user.latitude, lng: @user.longitude }.to_json %></p>
  <% end %>

  <h2>create a new pingit</h2>
  <div id="form">
    <%= render partial: "form" %>
  </div>
</div>