<h2>create a new pingit</h2>

<div style='width: 500px;'>
  <div id="create-pinga-map" style='width: 500px; height: 500px;'></div>
</div>

<!-- error handling -->
<div id="form">
  <%= render partial: "form" %>
</div>

<%= content_for :page_script do %>
  <%= javascript_include_tag "create-pingas" %>
<% end %>

