/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */

.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
  background-color: #F6F6EF;
}

.map {
	float: left;
	margin-right: 20px;
	padding-right: 20px;
}

.index-list {
 float: right;
 margin-left: 20px;
 /*padding-left: 20px;*/
}

.fixed_height_ping_div {
  float:right;
  height: 300px;
  width:480px; 
  background:black;
}

.ping_list{
  height:270px;
  overflow:auto;
  background:#fff;
  list-style-type: none;
}

.ping {
	border-style:solid;
	border-width:3px;	
	margin-top: 5px;
	padding: 5px;	
}

