.styled-label {
    float:left;
    background-color:#911;
    border: 1px #696758 solid ;
    border-radius: 3px;
    margin: 0px 6px;
}

.styled-label:hover {
    cursor:pointer;
}

.styled-label span {
    font-family: "Neuton";
    font-size: 1.250em;
    text-align:left;
    color: #EFE6AB;
    padding: 8px 12px;
    display: block;
}

.styled-label input {
    position:absolute;
    top:-20px;
}

.styled-label input:checked + span {
    background-color: #44484B;
}