/* color pallete */
$red: #ed2224;
$darkred: #911;
$darkgray: #35393C;
$lightergray: #44484B;
$deadmiddle: #696758;
$palestyellow: #EFE6AB;
$midyellow: #C4BC8D;
$palegray: #BFBFBF;

$green: #0c7d5e;
$white: #fbfbfb;
$yellow: #ffe583;
$brightgreen: #39B549;
$brightyellow: yellow;

body {
  font-family: 'Neuton', serif;
}

.container {
  margin: auto;
  width: 90%;
}

.container div {
  display: inline-block;
}


#pinga-logo-sm {
  width:40px;
  height:67px;
  margin-left:10px;
}

a {
  text-decoration: none;
}

#topnav {
  margin-bottom: 10px;
}

#home {
  letter-spacing: 4.0px;
  font-family: 'Neuton', serif;
  margin-left: 20px;
  font-size:3.50em;
  color: $darkgray;
  font-weight:bold;
}

#home:hover {
  color: $red;
}

/*create ping button*/

.button {
  font-size: 2.00em;
  font-weight:bold;
  letter-spacing: 1.25px;
  color: $darkgray;
  float:right;
  margin:40px 50px 0px 0px;
}

.button:hover {
  color: $red;
}

#settings {
  font-size: 2.00em;
  font-weight:bold;
  letter-spacing: 1.25px;
  color: $darkgray;
  float:right;
  margin:40px 30px 0px 0px;
}

#settings:hover {
  color: $red;
}

.map {
  background-color: $darkgray;
  border:8px solid $darkgray;
  border-radius: 0px 5px 5px 0px;
}

#format {
  background: $darkgray;
  border-radius:5px;
}

.content {
  background-color: $darkgray;
  border-radius: 5px 0px 0px 5px;
  width:550px;
  height:569px;
  float:left;
}

#tabs li.sorter-tabs {
  list-style-type: none;
  color: $palestyellow;
  /*background: $palestyellow;*/
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  font-size: 2.00em;
}

#my_tabs li.tab_width {
  list-style-type: none;
  color: $palestyellow;
  /*background: $palestyellow;*/
  /*padding: 5px 10px;*/
  border-radius: 5px;
  display: inline-block;
  /*margin-right: 20px;*/
  font-size: 2.00em;
}

#my_tabs li.tab_width:hover {
  cursor:pointer;
  color:$red;
}

#tabs li.sorter-tabs:hover {
  cursor:pointer;
  color:$red;
}

p.rsvp-conf {
  color:$palestyellow;
}

#my_tabs  {
  background: transparent; 
  border: none; 
  /*float:right;*/
  margin-left:6px;
  height: 290px;
  width:530px;
}

.tab_width {
  width: 48.5%;
}

.user_name h2{
  color:$palestyellow;
  margin-left:10px;
}

li a {
  outline: none;
}

div.my_listen {
  margin-top:-15px;
}

div.slider {
  margin-top:-15px;
  margin-left:10px;
}

#new h2{
  color:$palestyellow;
  margin-left:10px;
  font-size:1.50em;
}

#form a {
  margin-left:10px;
  color:$red;
  font-size:1.50em;
}

#show h2{
  color:$palestyellow;
  margin-left:10px;
}

#show p {
  color: $palestyellow;
  margin-left:10px;
}

#show a {
  color: $red;
  margin-left:10px;
}

#show a:hover {
  color:$palestyellow;
}

#form a:hover {
  color:$palestyellow;
}

#form label {
  margin-left:10px;
  color:$palestyellow;
  font-size:1.50em;
}

#form span {
  color:$palestyellow;
  font-size:1.50em;
}

#form input {
  margin-left:10px;
}

#form textarea {
  margin-left:10px;
}

#form select {
  margin-left:10px;
}

#slider-value {
  color:$palestyellow;
  margin-left:10px;
}

#sign_out {
  color:$palestyellow;
  margin-left: 300px;
}

#sign_out:hover {
  color:$red;
}

.user-settings {
  color: $palestyellow;
  font-size:1.1em;
  margin-left: 10px;
}

.scroll {
  height:390px;
  overflow:auto;
}

.my_scroll {
  height:200px;
  overflow:auto;
//  list-style-type: none;
}

/* a ping  */
.ping {
  border:1px solid $darkgray;
  border-radius:2px;
  background-color: $darkgray;
  position:relative;
  /*right:25px; DO NOT PUT THIS BACK*/
  margin:0;
  width:520px;
  /*padding: 5px;*/
}

.ping_title {

  /*text-align: center;*/
  /*width:520px;*/
}

.ping_title p {
  font-size: 1.0em;
  display: inline;
  color: $palestyellow;
}

.active {
  /*background-color: $palegray;*/
  color:$darkgray;
}

.active:hover {
  /*background-color: $brightgreen;*/
  cursor:pointer;
}

.pending {
  /*background-color: $palegray;*/
  color: $darkgray;
}

.pending:hover {
  /*background-color: $brightyellow;*/
  cursor:pointer;
}

.ping_list {
  list-style-type: none;
  -webkit-padding-start: 0;
}

#format {
  padding:10px 0px;
}

/*HEADER*/
#topnav {
  width:100%;
  margin-top:30px;
  padding:2px;
}

#topnav div {
  display: inline;
}



#logout {
  a {
    color:$darkgray;
    text-decoration: none;
    font-weight:bold;
  }
}


//FOOTER
.footer {
  margin: auto;
  /*margin-left:-5px;*/
  width: 960px;
  height:200px;
  padding: 0px 20px 20px 20px;
  text-align: justify;
  column-count:3;
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
}

.footer h1 {
  text-align: center;
}

.footer div {
  /*margin-left: 10px;*/
  color: $darkgray;
}


/*.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #544b4b;
  -webkit-box-shadow:inset 0px 1px 0px 0px #544b4b;
  box-shadow:inset 0px 1px 0px 0px #544b4b;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11c293), color-stop(1, #0c7d5f) );
  background:-moz-linear-gradient( center top, #11c293 5%, #0c7d5f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11c293', endColorstr='#0c7d5f');
  background-color:#11c293;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #332d2d;
  display:inline-block;
  color:#ed2226;
  font-family:Arial;
  font-size:28px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:174px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #332d2d;
  margin-left:185px;
  margin-top:3px;
}*/

/*.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c7d5f), color-stop(1, #11c293) );
  background:-moz-linear-gradient( center top, #0c7d5f 5%, #11c293 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c7d5f', endColorstr='#11c293');
  background-color:#0c7d5f;
}*/

/*.button:active {
   position:relative;
   top:1px;
 }*/

/*.ui-button .ui-button-text {
 line-height: 0.6;
 font-size:9pt;
 font-weight:700;
 padding: 5px 18px;
}*/

/*.ui-tabs-nav{
  background:transparent;
  border: none;
}

.ui-state-active .ui-tabs-active {
  border:none;
  font-color:$brightgreen;
}*/


/*.ui-tabs-anchor {
  font-family: "Neuton";
  font-size:1.250em;
  background-color:$palestyellow;
  margin-bottom:-35px;
  height: 20px;
  width:120px;
  padding:20px 0 0 15px;
  border: 1px solid $palestyellow;
}*/

/*#ui-id-1 {
  font-family: "Georgia";
  background-color:#35393C;

}

#ui-id-2 {
  font-family: "Georgia";
  background-color:#35393C;
}

#ui-id-3 {
  font-family: "Georgia";
  background-color:#35393C;
}*/

/*.ui-state-default {
  font-family: "Georgia";
  font-color: $red;
  font-size:;
}*/
/*.ui-tabs-nav {
  padding:none;
}*/