$red: #ed2224;
$darkgray: #35393C;
$lightergray: #44484B;
$deadmiddle: #696758;
$palestyellow: #EFE6AB;
$midyellow: #C4BC8D;
$palegray: #BFBFBF;

$green: #0c7d5e;
$white: #fbfbfb;
$yellow: #ffe583;
$brightgreen: #39B549;
$brightyellow: yellow;

body {
  /*background-color: $darkgray;*/
  /*color: $green;*/
  font-family: 'Georgia', serif;
}

.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
}

.container div {
  display: inline-block;
}

#pinga-logo-sm {
  width:33px;
  height:55px;
  margin-top: 10px;
}

#home-link {
  letter-spacing: 1.5px;
  font-family: 'Neuton', serif;
}

.map {
  float: left;
  /*margin: 10px;*/
  background-color: $lightergray;
  border:8px solid $lightergray;
  border-radius:5px 0 0 5px;
}

.content {
  background-color: $lightergray;
  border-radius:0 5px 5px 0;
  /*margin-left:20px;*/
  /*float:right;*/
  width:550px;
  height:570px;
}

#tabs  {
  background: transparent; 
  border: none; 
  /*float:right;*/
  margin-left:6px;
  height: 450px;
  width:530px;
  /*background-color:$darkgray;*/
}

#my_tabs  {
  background: transparent; 
  border: none; 
  /*float:right;*/
  margin-left:6px;
  height: 290px;
  width:530px;
}

.tab_width {
  width: 48.5%;
}

li a {
  outline: none;
}

.scroll {
  height:370px;
  overflow:auto;
  background-color:$green;
  /*list-style-type: none;*/
}

.my_scroll {
  height:200px;
  overflow:auto;
  background-color:$green;
//  list-style-type: none;
}

/* a ping  */
.ping {
  border:1px solid $darkgray;
  background-color: $darkgray;
  position:relative;
  right:25px;
  margin:0;
  width:520px;

  padding: 5px;
}

.ping_title {
  /*text-align: center;*/
  /*width:520px;*/
}

.ping_title p {
  font-size: 1.0em;
  display: inline;
}

.active {
  /*background-color: $palegray;*/
  color:$brightgreen;
}

.active:hover {
  /*background-color: $brightgreen;*/
  cursor:pointer;
}

.pending {
  /*background-color: $palegray;*/
  color: $palestyellow;
}

.pending:hover {
  /*background-color: $brightyellow;*/
  cursor:pointer;
}

.ping_list {
  list-style-type: none;
  -webkit-padding-start: 0;
}

#format {
  padding: 10px;
  /*margin-left:8px;*/
}

/*HEADER*/
#topnav {
  width:100%;
  margin-top:30px;
  /*background: $darkgray;*/
  padding:2px;
  padding-left:12%;
  padding-right:12%;
}

/*#inner_top_nav {
  margin-left:10%;
  margin-right:10%;
}*/

#topnav div {
  display: inline;
}

a {
  text-decoration: none;
}

#settings {
  font-size: 1.75em;
  font-weight:bold;
  letter-spacing: 1.50px;
  color: $darkgray;
  margin-left:625px;
}

#home a {
    font-size:3.50em;
    color: $darkgray;
    letter-spacing: 3.0px;
    margin-left:20px;
    font-weight:bold;
    /*text-decoration: none;*/
}

#logout {
  a {
    color:$darkgray;
    text-decoration: none;
    font-weight:bold;
  }
}


//FOOTER
.footer {
  margin: auto;
  /*margin-left:-5px;*/
  width: 960px;
  height:200px;
  padding: 0px 20px 20px 20px;
  text-align: justify;
  column-count:3;
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
}

.footer h1 {
  text-align: center;
}

.footer div {
  /*margin-left: 10px;*/
  color: $darkgray;
}


/*create ping button*/
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #544b4b;
  -webkit-box-shadow:inset 0px 1px 0px 0px #544b4b;
  box-shadow:inset 0px 1px 0px 0px #544b4b;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11c293), color-stop(1, #0c7d5f) );
  background:-moz-linear-gradient( center top, #11c293 5%, #0c7d5f 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11c293', endColorstr='#0c7d5f');
  background-color:#11c293;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #332d2d;
  display:inline-block;
  color:#ed2226;
  font-family:Arial;
  font-size:28px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:174px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #332d2d;
  margin-left:185px;
  margin-top:3px;
}

.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0c7d5f), color-stop(1, #11c293) );
  background:-moz-linear-gradient( center top, #0c7d5f 5%, #11c293 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c7d5f', endColorstr='#11c293');
  background-color:#0c7d5f;
}

.button:active {
   position:relative;
   top:1px;
 }

.ui-button .ui-button-text
{
 line-height: 0.6;
 font-size:9pt;
 font-weight:700;
 padding: 5px 18px;
}

.ui-state-default {
  font-family: "Georgia";
  font-color: $red;
}