// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url("/assets/skyline.jpg");
	background-size: 100%;
}