<div class="footer">
  <div class="column-left">
    <br>
    <h1>gather</h1>
    <p>make new friends</p>
  </div>

  <div class="column-center">
    <br>
    <h1>explore</h1>
    <p>Listen for Pings according to your personal interests and preferred listening distance.  When a new event is created you will be informed right away!</p>
  </div>

  <div class="column-right">
    <br>
    <h1>ping</h1>
    <p>Create an event that you want to share with others.  Anyone who is listening for your event nearby will be informed of the event with a Ping!</p>
  </div>
</div>