<div class="footer">
  <div class="column-left">
    <br>
    <h1>Ping</h1>
    <p>This will be a paragraph of crap written by ron about pinging shit</p>
  </div>

  <div class="column-center">
    <br>
    <h1>Gather</h1>
    <p>This will be another paragraph of crap written by ron about gathering at that ping shit</p>
  </div>


  <div class="column-right">
    <br>
      <h1>Do</h1>
      <p>This will be yet another paragraph of crap written by ron about doing shit at that ping shit</p>
  </div>
</div>