<div class="footer">
  <div class="column-left">
    <br>
    <h1>Ping</h1>
    <p>Create an event that you want to share with others.  Anyone who is listening for your event nearby will be informed of the event with a Ping!</p>
  </div>

  <div class="column-center">
    <br>
    <h1>Gather</h1>
    <p>Spontaneous events happen all over the city each and every day.  With Ping-It, you can be made aware of these events and stay involved in your community!</p>
  </div>

  <div class="column-right">
    <br>
    <h1>Explore</h1>
    <p>Listen for Pings according to your personal interests and preferred listening distance.  When a new event is created you will be informed right away!</p>
  </div>
</div>