<div id="topnav">
  <div id="inner_top_nav">
    <div id="home">
        <a href="/"><img id="pinga-logo-sm" src="/assets/logo.png"></a>
        <%= link_to "PingIt", root_path, 'data-no-turbolink' => true, id:"home-link" %>
    </div>
    <%= link_to "settings", '/', id: "settings" %>
  </div>
</div>