<div id="topnav">
  <div id="inner_top_nav">
    <a href="/"><img id="pinga-logo-sm" src="/assets/logo.png"></a>
    <%= link_to "PingIt", root_path, 'data-no-turbolink' => true, id:"home-link" %>
    <%= link_to "account", '/', id: "settings" %>
    <%= link_to "create a ping", new_pinga_path, 'class' => 'button', 'id' => 'new_pinga_button' %>
  </div>
</div>